@import "tailwindcss";
@font-face {
    font-family: font1;
    src: url(.//fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(./fonts/Lausanne-500.woff2);
}


.link .move-link {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.link:hover .move-link {
  height: 100%;
}


.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation{
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}